[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git@github.com:ycm-core/YouCompleteMe.git
[submodule "bundle/denite.nvim"]
	path = bundle/denite.nvim
	url = git@github.com:Shougo/denite.nvim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/CurtineIncSw"]
	path = bundle/CurtineIncSw
	url = git@github.com:ericcurtin/CurtineIncSw.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "vim-commentary"]
	path = bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
